/*共通*/
@font-face {
  font-family: 'Josefin Sans';
  src: url('../font/Josefin_Sans/JosefinSans-VariableFont_wght.ttf') format('truetype'),
    url('../font/Josefin_Sans/josefin-sans.ttf') format('truetype');
}

html {
  scroll-behavior: smooth;
}

:root {
  --text-color: #333;
  --accent-color: #db3d33;
  --hover_before-color: #f35b52;
  --accent-font: "Josefin Sans", serif;
}

body {
  font-family: "Roboto", "Noto Sans JP", sans-serif;
  color: var(--text-color);
}

.inner {
  background: #fff;
  max-width: 1000px;
  margin: 0 auto;
  width: calc(100% - 32px);
}

section {
  padding: 24px;
}

section+section {
  margin-top: 160px;
}

th {
  width: 160px;
  padding: 16px;
  text-align: left;
  vertical-align: top;
}

td {
  padding: 16px;
}

/*最初画面*/
#first-view-js {
  width: 100vw;
  height: 100vh;
  transition: all 3s;
  background-color: var(--accent-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.first-view-text-js {
  font-family: var(--accent-font);
  padding: 48px;
  color: #fff;
  font-size:
    /*320px;*/
    22vw;
  font-weight: 100;
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

/*背景*/
.bg {
  animation: bg-color 16s infinite;
}

@keyframes bg-color {
  0% {
    background-color: #fff;
    background-image: radial-gradient(#feecd2 20%, transparent 20%), radial-gradient(#feecd2 20%, transparent 20%);
    background-size: 40px 40px;
    background-position: 0 0, 20px 20px;
  }

  50% {
    background-color: #fff;
    background-image: radial-gradient(#eee 20%, transparent 20%), radial-gradient(#eee 20%, transparent 20%);
    background-size: 40px 40px;
    background-position: 0 0, 20px 20px;
  }

  100% {
    background-color: #fff;
    background-image: radial-gradient(#feecd2 20%, transparent 20%), radial-gradient(#feecd2 20%, transparent 20%);
    background-size: 40px 40px;
    background-position: 0 0, 20px 20px;
  }
}


/*header*/
header {
  padding: 24px;
  box-shadow: 0px 0px 3px #333;
}

.header-nav {
  display: flex;
  justify-content: end;
  gap: 24px;
  padding: 16px;
}

.header-nav li {
  font-size: 16px;
}

/*hero*/
.hero {
  margin-top: 40px;
  background: linear-gradient(180deg, transparent 0%, transparent 50%, var(--accent-color) 50%, var(--accent-color) 100%);
}

.hero-inner {
  max-width: 1000px;
  width: calc(100% - 32px);
  margin: 0 auto;
  padding-bottom: 80px;
  position: relative;
}

.hero h1 {
  font-family: var(--accent-font);
  font-size: 80px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.1em;
  position: absolute;
  top: 24px;
  left: 136px;
}

h1 span {
  color: var(--accent-color);
}

.hero-img {
  text-align: right;
}

/*works*/
#works {
  padding-top: 160px;
}

section h2 {
  font-family: var(--accent-font);
  font-size: 40px;
  font-weight: 700;
  margin: 24px 0 100px;
  text-align: center;
}

.works {
  padding: 40px 56px 80px;
  border: 1px solid var(--text-color);
  position: relative;
}

.works+.works {
  margin-top: 160px;
}

.work-number {
  position: absolute;
  top: -80px;
  left: 10px;
}

.works-inner {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.works-table {
  flex: 2;
}

.td-first {
  padding: 0;
}

.table-ul {
  padding-left: 1em;
}

.table-ul li {
  margin-top: 8px;
}

.work-img {
  max-width: 100%;
}

.work-img img {
  margin: 0 auto;
  display: block;
  box-shadow: 0px 0px 8px #bbb;
}

.more {
  width: 100%;
  line-height: 2;
  margin-top: 16px;
  padding: 8px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  background: var(--hover_before-color);
  border-radius: 16px;
}

.more:hover {
  background: var(--accent-color);
  cursor: pointer;
}

#js-more4:active {
  animation: roll 0.5s 3;
}

@keyframes roll {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

/*About*/
#about {
  padding-bottom: 160px;
}

.skill-title {
  margin-left: 180px;
  font-size: 20px;
  font-weight: 500;
  color: var(--accent-color);
}

.skill-table {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  gap: 160px;
}

footer {
  height: 80px;
  background: var(--accent-color);
  text-align: center;
  line-height: 80px;
  color: #fff;
}

/*戻るボタン*/
.to-top {
  width: 80px;
  height: 80px;
  line-height: 80px;
  background: #fff;
  position: fixed;
  bottom: 16px;
  right: 16px;
  border: 2px solid #bbb;
  border-radius: 50%;
  color: var(--accent-color);
  font-size: 40px;
  text-align: center;
}



@media (max-width: 768px) {
  body {
    background: none;
  }

  .hero h1 {
    position: static;
    font-size: 16vw;
  }

  .works-inner {
    display: block;
  }

  .works {
    padding: 40px 16px 80px;
  }

  .works-inner table {
    margin-top: 32px;
  }

  .works-table th,
  .works-table td {
    width: 100%;
    display: block;
  }

  .work-img {
    margin-top: 24px;
  }

  /*About*/
  .skill-title {
    margin-left: 0;
    text-align: center;
  }

  .skill-table {
    display: block;
  }

  footer {
    border-radius: 0;
  }
}